

.btn-explore{

   padding:10px;
    border-radius: 20px;
    color:white;
    // background-color: #ff79da;
    background: linear-gradient(#ff79da, #9356dc);
    filter: drop-shadow(7px 5px 6px rgba(0,0,0,0.3));/*faire des belles ombres*/
}