@use '../abstracts/' as *;

#fonctionnement{
    display: block;
    ol{
        display: flex;
        gap:15px;
        justify-content: space-between;
        li{

            display: flex;
            justify-content: space-between;
            gap:5px;
            padding: 5px 10px;
            background-color: #D9D9D9;
            border-radius: 25px;
            width:280px;
            margin-left:-80px;
            height:40px;
            .number{
                padding:2px 5px  ;
                
                color:white;
                background-color: purple;
                height: 20px;
                width:  20px;
                border-radius: 50%;
            }
            
        }

    }

}